{% run msg = {404: "Page Not Found", 500: "Internal Server Error"} %}
{% run title = "{}: {}".format(error, msg[error]) %}
{% include /global/header.html %}

<style type="text/css">
a.back, a.back:hover {
    cursor: pointer;
}
#traceback {
    text-align: left;
}
</style>
<h1>Oops! There seems to be an error!</h1>
<h1>{{ title }}</h1>
{% if error == 404 %}
{% elif error == 500 %}
    {% if debug %}
        <section id="traceback">
            {% for line in traceback %}
                {{ line }}<br/>
            {% end for %}
        </section>
    {% end if %}
{% else %}
    Error: unknown error type ({{ error }})
{% end if %}
<h3><a onclick="history.go(-1)" class="back">Go back</a></h3>

{% include /global/footer.html %}