#header {
position:relative;
float:left;
width:100% 


}

.header1 {

background-color:#E6E6E6;
margin-top:-50px;
margin-left:-8px;
}


#menu {
	font-family:Arial;
	display: inline-block;
	position:relative;
	
	height:580px;
	width:200px;
	float:left;
	margin-left:20px;
	border:4px;
	border: .1em solid #000000; 
	
	
}




#menu a {
	
	
	
	margin: auto;
	text-align: center;
	text-decoration:none;
	color:black;
	
	

}
#menu tr {
	height: 40px;
	width: 10px;
	background-color: #BCD2EE;
	text-align:left;
	font-family:AppleGothic;
	
}


#intro {


} 

#vids {

height:580px;
width:900px;
border:1px solid #ccc;
font:16px/26px Georgia, Garamond, Serif;
float:right;
position:static;

}

.content {
margin:0px 50px 50px 10px;


}

#login{
float:right;
border-radius:10px;
background-color:grey;
text-decoration:none;
text-align:center;
color:black;

}




