<!DOCTYPE html>
<html style="overflow-x: hidden; margin:">
<head>
<title>Vote</title>

<link type="text/css" rel="stylesheet" href="/Users/james.gabb/Documents/Code/YouChoose/CSSPage/Vote-stylesheet.css"/>

<script type="text/javascript" src="/Users/james.gabb/Documents/Code/YouChoose/jQuery/vote.js"></script>

</head>
<body>



<div class="header1" id="header">
<h1 style="margin-bottom:0;">YouChoose-<a id="login" href="">Login</a></h1> 


</div>



<div class="content" id="menu">
<!--<b style="font-size:30px">Menu</b><br><br>-->

<table border=1px solid; style="float:right; margin-top:80px;">

<tr>
<td onClick="document.location.href='http://www.google.com';" style="cursor:pointer;cursor:hand">
Home
</td>
</tr>

<tr>
<td onClick="document.location.href='http://www.google.com';" style="cursor:pointer;cursor:hand">
Top10
</td>
</tr>

<tr>
<td onClick="document.location.href='http://www.google.com';" style="cursor:pointer;cursor:hand">
Categories
</td>
</tr>
<tr>

<td width=200; onClick="document.location.href='http://www.google.com';" style="cursor:pointer;cursor:hand">
Vote
</td>


</tr>
<tr>
<td onClick="document.location.href='http://www.google.com';" style="cursor:pointer;cursor:hand">
Add Your Vote
</td>
</tr>

</table>






</div>


<div  class="content" id="intro" >
<br>
<br>
<br>
<table border="1">
<tr>
<td>
<embed 
width="420" height="345"
src="http://www.youtube.com/v/jNjsJBqCACo"
type="application/x-shockwave-flash">
</embed>


<td width="1000" valign = "top" position = fixed;>
<p>this is the description of the clicked vidfrek</p>
</td>
<tr>
</table>

</div>


<div  class="content" id="vids" style="overflow:auto;">
Scroll Down to check out the channels://Does account for scrolling
<br>
Search: --->Searches through scrolling tables->We should probs include it.
<form id="search1"method="get" name="searchform" action="http://www.google.com/search" target="_blank">
    <input type="hidden" name="sitesearch" value="stackoverflow.com">
    <input type="text" name="as_q" size="30" value="">
    <input type="submit" value="Search" title="Search">
</form>


<table border="1">
<tr>
<td><form action=""><input type="button" value="Play"</form></td>
<td width = 200px>Name:""</td>
<td width = 200px>Channel:""</td>
<td width = 200px>Length:""</td>
<td width = 400px>Description if the description is really long i wonder what happen casue it would be really awesoem rig the thing ewoufdl jsut continue tonto the next line by not relal yhten wi rr</td>

<td><form action=""><input type="button" value="Vote(+1)"</form></td>

</tr>











</table>

</div>


<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
Copyright ¬© YouChoose.com</div>

</div>
 


</body>
</html>
