<!DOCTYPE html>
<html style="overflow-x: hidden; margin:">
<head>
<title>Vote</title>

<link type="text/css" rel="stylesheet" href="/static/css/VotePageStyle.css"/>

<!--<script type="text/javascript" src="/static/js/vote.js"></script>-->

</head>
<body>



<div class="header1" id="header">
<h1 style="margin-bottom:0;">YouChoose-<a id="login" href="">Login</a></h1> 


</div>



<div class="content" id="menu">
<!--<b style="font-size:30px">Menu</b><br><br>-->
<a href="">Home</a><br><br>
<a href="">Top10</a><br><br>
<a href="">Categories</a><br><br>
<a href="">Vote</a><br><br>
<a href="">Add Your Vote</a><br><br>
</div>


<div  class="content" id="intro" >



</div>


<div  class="content" id="vids" style="overflow:auto;">
Scroll Down to check out the channels://Does account for scrolling
<br>
Search: --->Searches through scrolling tables->We should probs include it.
<form id="search1"method="get" name="searchform" action="http://www.google.com/search" target="_blank">
    <input type="hidden" name="sitesearch" value="stackoverflow.com">
    <input type="text" name="as_q" size="30" value="">
    <input type="submit" value="Search" title="Search">
</form>


<table border="1">
<tr>

<td><embed 
width="420" height="345"
src="http://www.youtube.com/v/jNjsJBqCACo"
type="application/x-shockwave-flash">
</embed></td>

<td width = 1000>Name:""<br>Channel:""<br>Length:""<br>Views:""<br></td>

<td width= 1000>Number of votes:""<br>Votes:Views ""<br><form action=""><input type="button" value="Vote(+1)"</form></td> 
</tr>
<tr>





</table>

</div>


<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
Copyright ¬© YouChoose.com</div>

</div>
 


</body>
</html>
