<!DOCTYPE html>
<html>
<head>
  <title>Vote</title>
  <link type="text/css" rel="stylesheet" src="static/css/NewVoteStyle.css"/>
</head>
<body>

<div id="container" style="width:1250px">

<div id="header" style="background-color:#FFA500;">
<h1 style="margin-bottom:0;">YouChoose-VOTE</h1></div>

<div id="menu" style="background-color:#FFD700;height:579px;width:200px;float:left;">
<b>Menu</b><br>
<a href="">Home</a><br>
<a href="">Top10</a><br>
<a href="">Categories</a><br>
<b>Vote</b><br>
<a href="">Add Your Vote</a><br>
</div>


<div style="height:580px;width:1000px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
Scroll Down to check out the channels://Does account for scrolling
<br>
Search: --->Searches through scrolling tables->We should probs include it.


<table border="1">
<tr>

<td><embed 
width="420" height="345"
src="http://www.youtube.com/v/jNjsJBqCACo"
type="application/x-shockwave-flash">
</embed></td>
<td width = 350>Name:""<br>Channel:""<br>Length:""<br>Views:""<br></td>
<td>Number of votes:""<br>Votes:Views ""<br><form action=""><input type="button" value="Vote(+1)"</form></td> 



</table>

</div>


<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
Copyright ¬© YouChoose.com</div>

</div>
 


</body>
</html>
